@{
    ViewData["Title"] = "Панель администратора";
}

<h2>Панель администратора</h2>

<div class="list-group mt-4">
    <a asp-action="Order" class="list-group-item list-group-item-action">Сделать заказ</a>
    <a asp-action="LoadBatch" class="list-group-item list-group-item-action">Загрузка информации о новой партии</a>
    <a asp-action="Forecast" class="list-group-item list-group-item-action">Прогнозирование количества заказов</a>
    <a asp-action="UserSegmentation" class="list-group-item list-group-item-action">Сегментация клиентов</a>
</div>