@{
    ViewData["Title"] = "Панель кладовщика";
}

<h2>Панель кладовщика</h2>

<div class="list-group mt-4">
    <a asp-action="Products" class="list-group-item list-group-item-action">Просмотр товаров</a>
    <a asp-action="LoadBatch" class="list-group-item list-group-item-action">Загрузка партии товаров</a>
</div>