@{
    ViewData["Title"] = "Панель продавца";
}

<h2>Панель продавца</h2>

<div class="list-group mt-4">
    <a asp-action="Order" class="list-group-item list-group-item-action">Сделать заказ</a>
</div>