:80 {
    bind 0.0.0.0

    # Главная страница
    handle / {
        root * D:/bmstu/PPO/software_design/FlowerShop/docker/static
        file_server
        try_files {path} index.html
    }

    # Зарезервированный путь
    handle /reserved/* {
        root * D:/bmstu/PPO/software_design/FlowerShop/docker/static
        file_server
        try_files {path} index.html
    }
    
    # API v1 to Swagger
    handle /api/v1 {
        redir http://localhost:5000/swagger/index.html 302
    }

    # API v1 обработка - ОТЛАДКА
    handle /api/v1/* {
    	# Получаем путь после /api/v1
    	@api_path {
        	path_regexp /api/v1/(?P<rest>.*)
    	}
    
    	handle @api_path {
        	# Используем захваченную часть
        	rewrite * /api/{re.rest}
        	reverse_proxy http://localhost:5000
    	}
    }

    # Legacy
    handle /legacy/* {
        rewrite * /{path.1}
        reverse_proxy http://localhost:5001
    }

    handle /legacy {
        rewrite * /
        reverse_proxy http://localhost:5001
    }

    # Документация
    handle /documentation {
        root * D:/bmstu/PPO/software_design/FlowerShop/docker/documentation
        file_server
        try_files {path} index.html
    }

    # Админка БД
    handle /admin/* {
        rewrite * /{path.3}
        reverse_proxy http://localhost:8080
    }

    handle /admin {
        rewrite * /
        reverse_proxy http://localhost:8080
    }

    # Статус сервера
    handle /status {
    	root * D:/bmstu/PPO/software_design/FlowerShop/docker/status
    	try_files /index.html
    	file_server
    }

    # Управление
    handle /management {
        root * D:/bmstu/PPO/software_design/FlowerShop/docker/management
        file_server
        try_files {path} index.html
    }

    # ========== ВСЕ ОСТАЛЬНЫЕ СТАТИЧЕСКИЕ ФАЙЛЫ ==========
    # Этот обработчик ДОЛЖЕН БЫТЬ ПОСЛЕДНИМ
    handle {
        root * D:/bmstu/PPO/software_design/FlowerShop/docker/static
        file_server
    }
}